{% from "frappe/templates/includes/avatar_macro.html" import avatar %}
{% extends "templates/web.html" %}
{% block title %}

{{ _("Customer List") }}
{% endblock %}
{% block page_content %}
<div class="main-column col-sm-10">
  <div class="page-content-wrapper">
    <!-- breadcrumbs -->
    <div class="page-breadcrumbs">
    </div>
    <main class="container my-4">
      <div class="page-header-wrapper">
        <div class="page-header">
        </div>
      </div>
      <div class="page_content">
        <div data-fieldname="opportunity_document" data-fieldtype="Table">
          <h3>Complains</h3>
          <table class="table table-bordered table-condensed">
            <thead>
              <tr style="background-color: #BFBFBF;">
                <th style="width: 150px;text-align: center;" class="" data-fieldname="opportunity_document" data-fieldtype="Table">Customer Name</th>
                <th style="width: 150px;text-align: center;" class="" data-fieldname="opportunity_document" data-fieldtype="Table">Complains</th>
              </tr>
            </thead>
            <tbody>
				{% for complain_temp in task%}
              <div>
                <tr>
                  <td style="text-align: center;"data-fieldname="opportunity_document" data-fieldtype="Table"><div class="value">{{complain_temp.customer}}</div></td>
                  <td style="text-align: center;" data-fieldname="opportunity_document" data-fieldtype="Table"><div class="value">{{complain_temp.complain}}</div></td>
                </tr>
              </div>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="page-footer"></div>
    </main>
  </div>
</div>
	{% endblock %}


