{% extends 'templates/navebar/navebar.html' %}
{% block slidebar %}
<div class="main-column col-sm-10">
  <div class="page-content-wrapper">
    <!-- breadcrumbs -->
    <div class="page-breadcrumbs">
    </div>
    <main class="container my-4">
      <div class="page-header-wrapper">
        <div class="page-header">
        </div>
      </div>
      <div class="page_content">
        <div data-fieldname="opportunity_document" data-fieldtype="Table">
          <h3>Customer List</h3>
          <table class="table table-bordered table-condensed">
            <thead>
              <tr style="background-color: #BFBFBF;">
                <th style="width: 150px;text-align: center;" class="" data-fieldname="opportunity_document" data-fieldtype="Table">Customer Name</th>
                <th style="width: 150px;text-align: center;" class="" data-fieldname="opportunity_document" data-fieldtype="Table">City</th>
                <th style="width: 150px;text-align: center;" class="" data-fieldname="opportunity_document" data-fieldtype="Table">Zone</th>
                <th style="width: 150px;text-align: center;" class="" data-fieldname="opportunity_document" data-fieldtype="Table">Type</th>
                <th style="width: 150px;text-align: center;" class="" data-fieldname="opportunity_document" data-fieldtype="Table">Category</th>
              </tr>
            </thead>
            <tbody>
              {% for customer in customer_list %}
              <div>
                <tr>
                  <td style="text-align: center;"data-fieldname="opportunity_document" data-fieldtype="Table"><div class="value">{{customer.name1}}</div></td>
                  <td style="text-align: center;" data-fieldname="opportunity_document" data-fieldtype="Table"><div class="value">{{customer.city}}</div></td>
                  <td style="text-align: center;"data-fieldname="opportunity_document" data-fieldtype="Table"><div class="value">{{customer.zone}}</div></td>
                  <td style="text-align: center;" data-fieldname="opportunity_document" data-fieldtype="Table"><div class="value">{{customer.type}}</div></td>
                  <td style="text-align: center;" data-fieldname="opportunity_document" data-fieldtype="Table"><div class="value">{{customer.category}}</div></td>
                </tr>
              </div>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="page-footer"></div>
    </main>
  </div>
</div>
{% endblock %}
