{% from "frappe/templates/includes/avatar_macro.html" import avatar %}
{% extends "templates/web.html" %}
{% block title %}

{{ _("Sales Person List") }}
{% endblock %}
{% block page_content %}

<div class="main-column col-sm-10">
  <div class="page-content-wrapper">
    <!-- breadcrumbs -->
    <div class="page-breadcrumbs">
    </div>
    <main class="container my-4">
      <div class="page-header-wrapper">
        <div class="page-header">
        </div>
      </div>
      <div class="page_content">
        <div data-fieldname="opportunity_document" data-fieldtype="Table">
          <div class="col-sm-12 text-center py-3">
            <h3>Sales Person List</h3>
            <div class="row sales-person">

            </div>
            <a class="previous btn btn-sm btn-default btn-get-records ">&laquo; Previous</a>
            <a class="btn btn-sm btn-default btn-get-records next">Next &raquo;</a>
          </div>
        </div>
      </div>
      <div class="page-footer"></div>
    </main>
  </div>
</div>
{% endblock %}
